.merchantsignup form{
    display: grid;
    grid-template-columns: 200px 200px;
    box-shadow: 0px 0px 10px grey;
    padding: 10px 50px;
    border-radius: 10px;
    font-family: cursive;
}
.merchantsignup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.merchantsignup input,label{
    margin: 10px 0px;
    border: none;
}
.merchantsignup input{
    outline: none;
    border-bottom: 2px solid black;

}