#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    height: 80px;
    padding: 0px 50px;
}
#navbar h1{
    color: brown;
}
#navbar span{
    color: beige;
}
#navbar a{
    color: black;
    text-decoration: none;
}
.option a {
    margin: 0px 30px;
}