.UpdateProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.UpdateProducts form{
    padding: 10px;
    outline: 2px solid black;
    display: grid;
    grid-template-columns: 200px 300px;
}
.UpdateProducts input,label{
    margin: 10px;
}
.UpdateProducts input{
    border: none;
    outline: none;
    
}